@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
html{
	font-family: 'Raleway';
	overflow-x:hidden;
}
$white: #FDFDFD;
$green:#10B582;
$orange:#FA9F42;
$black:#353A5A;
.wrapper{
	display: flex;
	flex-direction:column;
	min-height:100%;
}
.error{
	padding:30px 0 0 0;
}
.error__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
	color:$black;
}
.error__image {
	margin: 40px 0 0 0;
	img{
		width:300px;
		height:300px;
		object-fit:cover;
	}
}
.error__desc {
	margin: 40px 0 0 0;
	font-weight: 400;
	font-size: 30px;
	line-height: 150%;
	color: $black;
}
.error__btn{
	background: $green;
	margin:40px 0 0 0;
}
@media (max-width:640px){
	.error__desc{
		text-align: center;
	}
	.error__title{
		text-align: center;
	}
	.error__image {
		max-width:270px;
		margin:40px auto 0;
		img{
			width:270px;
			height:270px;
		}
	}
	.error__btn{
		margin:40px auto 0;
	}
}
.container{
	max-width:1170px;
	margin: 0 auto;
	@media (max-width:1170px){
		padding:0 10px 0;
	}
}
.header{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	margin: 0 auto;
	z-index:50;
	flex: 0 0 auto;
	background: $green;
	padding:50px 0;
}
.header__body{
	display: flex;
	align-items:center;
}
.header__burger {
	display: none;
}
.header__menu {
	display: none;
}
.header__list {
	max-width:650px;
	margin: 0 auto;
	display: flex;
	gap:40px;
}
.header__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color:$white;
	&.active{
		border-bottom: 2px dashed $orange;
	}
}
.header__logoblock {
	display: none;
	gap:12px;
	align-items:center;
	width:180px;
}
.header__logo {
	img{
		width:28px;
		height:22px;
		object-fit:cover;
	}
}
.header__title-logo {
	font-size: 30px;
	font-weight: 500;
	color:$white;
}

//header media//
@media (max-width:769px){
	.content{
		padding: 90px 0 0 0;
	}
	.header{
		padding:30px 0;
	}
	.main{
		padding:100px 0 100px 0;//100 + 90
	}
	.header__list {
		display: none;
	}
	.header__logoblock {
		display: flex;
	}
	.header__body{
		justify-content:space-between;
		
	}
	.header__menu{
		transition:all 0.5s ease 0s;
		display: block;
		position: fixed;
		width:100%;
		height:100vh;
		top:0px;
		left:-100%;
		//z-index:40;
		background: $white;
		ul{
			display: block;
			li:first-child{
				margin:32px 0 0 10px;
			}
			li{
				margin:10px 0 0 10px;
			}
			.header__link.active{
				border:none;
			}
		}
		.header__link{
			color:$black;
			&.active{
				color:$orange;
			}
		}
	}
	.header__burger{
		transition:all 0.5s ease 0s;
		z-index:50;
		position: relative;
		display: block;
		width:30px;
		height:27px;
		//background: $orange;
		span{
			position: absolute;
			display: block;
			width:100%;
			height:3px;
			background: $white;
			top:12px;
			border-radius:3px;
		}
		&:before, &:after{
			transition:all 0.5s ease 0s;
			content:'';
			position: absolute;
			width:100%;
			height:3px;
			background: $white;
			border-radius:3px;
		}
		&:before{
			top:0;
		}
		&:after{
			bottom:0;
		}
	}
	.header__burger.active{
		span{
			display: none;
		}
		&:before, &:after{
			background: $orange;
		}
		&:before{
			transform:rotate(45deg);
			top:11.75px;
		}
		&:after{
			transform:rotate(-45deg);
			bottom:11.75px;
		}
	}
	.header__menu.active{
		left:0;
	}
	#coursePage{
		.header__burger{
			span{
				background: $black;
			}
			&:before, &:after{
				background: $black;
			}
		}
		.header__burger.active{
			&:before, &:after{
				background: $orange;
			}
		}
	}
}

.content{
	flex: 1 0 auto;
	padding: 116px 0 0 0;
}
.main{
	background: $green;
	padding:160px 0 212px 0; //150 
	.container{
		position: relative;
	}
	
}
.main__mediablock {
	position: absolute;
	top:-150px;
}
.media-list {
	li{
		margin:30px 0 0 0;
	}
	li:first-child{
		margin:0;
	}
}
.main__imageblock-1 {
	position: absolute;
	width:270px;
	img{
		position: absolute;
		display: block;
		width:240px;
		height:300px;
		object-fit:cover;
		border-radius: 80px 0px 0px 0px;
		top:30px;
		left:30px;
	}
	top:-150px;
	right:0;
	&:before{
		content:'';
		position: absolute;
		display: block;
		width:240px;
		height:300px;
		border: 1px dashed $white;
		border-radius: 80px 0px 0px 0px;
	}
}
.main__imageblock-2 {
	position: absolute;
	width:270px;
	img{
		position: absolute;
		display: block;
		width:240px;
		height:300px;
		object-fit:cover;
		border-radius: 0px 80px 0px 0px;
		top:30px;
		left:0px;
	}
	bottom:150px;
	left:0;
	&:before{
		content:'';
		position: absolute;
		top:0;
		left:30px;
		display: block;
		width:240px;
		height:300px;
		border: 1px dashed $white;
		border-radius: 0px 80px 0px 0px;
	}
}
.main__logoblock {
	display: flex;
	gap:12px;
	align-items:center;
	width:180px;
	margin:0 auto;
}
.main__logo {
	img{
		width:28px;
		height:22px;
		object-fit:cover;
	}
}
.main__title-logo {
	font-size: 30px;
	font-weight: 500;
	color:$white;
}
.main__title {
	margin: 40px 0 0 0;
}
.title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
	text-align: center;
	color:$white;
}
.main__desc {
	margin: 20px 0 0 0;
}
.desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: $white;
}
.main__btn {
	background: $orange;
	margin:50px auto 0;
}
.btn {
	cursor:pointer;
	transition:all 0.5s ease 0s;
	display: block;
	width:230px;
	height:53px;
	font-size: 16px;
	line-height: 56px;
	text-align: center;
	color: #FDFDFD;
	border-radius: 0px 20px;
	&:hover{
		border-radius: 20px;
		font-size: 18px;
	}
}
//main media//
@media (max-width:1100px){
	.content{
		padding:116px 0 0 0;
	}
	.main{
		padding:80px 0;//80 + 120
	}
	.main__imageblock-1{
		display: none;
	}
	.main__imageblock-2{
		display: none;
	}
	.main__mediablock{
		top:75px;
	}
}
@media (max-width:769px){
	.content{
		padding:90px 0 0 0;
	}
	.main{
		padding:60px 0 100px 0;//60 + 90
	}
	.main__logoblock{
		display: none;
	}
	.main__title{
		margin:0;
	}
	.main__mediablock{
		top:5px;
	}
}
@media (max-width:635px){
	.main__title {
		font-size: 40px;
	}
	.main__desc{
		margin:15px 0 0 0;
	}
	.main__btn{
		margin: 35px auto 0;
	}
}
@media (max-width:465px){
	.main{
		padding: 120px 0 100px 0;
	}
	.main__mediablock{
		position: relative;
	}
	.media-list{
		max-width:150px;
		margin: 20px auto;
		display: flex;
		justify-content:space-between;
		li{
			margin:0;
		}
	}
	.main__title {
		font-size: 30px;
	}
	.main__desc{
		margin:15px 0 0 0;
		br{
			display: none;
		}
	}
	.main__btn{
		margin: 35px auto 0;
	}
}	
@media (max-width:305px){
	.main__title{
		font-size: 26px;
		font-weight: 500;
	}
}

//statistics//

.statistics {
	padding:120px 0;
	background: $white;
}
.statistics-row {
	display:flex;
	justify-content:space-between;
	gap:30px;
	flex-wrap:wrap;
}
.statistics__item {
	flex: 0 0 270px;
}
.statistics__number {
	color:$green;
	font-weight: 500;
	font-size: 58px;
	line-height: 100%;
	text-align: center;
}
.statistics__desc {
	max-width:270px;
	margin:15px 0 0 0;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	color:$black;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
//statistics media//
@media (max-width:1170px){
	.statistics-row{
		.statistics__item:last-child{
			margin: 0 auto;
		}
	}
}
@media (max-width:890px){
	.statistics{
		padding:75px 0;
	}
	.statistics-row{
		.statistics__item:last-child{
			margin: 0;
		}
	}
}
@media (max-width:590px){
	.statistics-row{
		display: block;
		max-width:100%;
		margin: 0 auto;
		.statistics__item{
			margin:20px 0 0 0;
		}
		.statistics__item:last-child{
			margin:20px 0 0 0;
		}
		.statistics__item:first-child{
			margin:0;
		}
		
	}
	.statistics__desc {
		margin: 15px auto 0;
	}
}

//team//
.team {
	padding: 0 0 120px 0;
}
.team__row {
	display: flex;
	align-items:center;
	gap:100px; //?
}
.team__textblock {
	flex: 0 0 500px;
}
.team__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color:$black;
}
.team__desc {
	margin: 20px 0 0 0;
	font-size: 16px;
	line-height: 150%;
	color:$black;
}
.desc {}
.team__btn {
	margin: 50px 0 0 0;
	background: $green;
}
.btn {}
.team__imageblock {
	flex: 0 0 570px;
	display: flex;
	flex-wrap:wrap;
	gap:30px;
	.team__imageblock-item:nth-child(1){
		.team__image{
			img{
				border-radius: 0px 0px 0px 80px;
			}
		}
	}
	.team__imageblock-item:nth-child(2){
		.team__image{
			img{
				border-radius: 80px 0px;
			}
		}
	}
	.team__imageblock-item:nth-child(3){
		.team__image{
			img{
				border-radius: 0px 0px 80px 0px;
			}
		}
	}
	.team__imageblock-item:nth-child(4){
		//margin:30px 0 0 0;
		.team__image{
			img{
				border-radius: 80px 0px 0px 0px;
			}
			
		}
	}
	.team__imageblock-item:nth-child(5){
		//margin:30px 0 0 0;
		.team__image{
			img{
				border-radius: 80px 0px;
			}
			
		}
	}
	.team__imageblock-item:nth-child(6){
		//margin:30px 0 0 0;
		.team__image{
			img{
				border-radius: 0px 80px 0px 0px;
			}
			
		}
	}

}
.team__imageblock-item {
	flex:0 0 170px;

}
.team__image {
	width:170px;
	img{
		width:170px;
		height:170px;
		object-fit:cover;

	}
}
.team__name {
	margin: 15px 0 0 0;
	max-width:170px;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	color:$black;
}
//team media//
@media (max-width:1171px){
	.team__row{
		width:100%;
		margin: 0 auto;
		flex-direction:column;
		gap:50px;
	}
	.team__textblock{
		flex: 1 1 auto;
	}
	.team__title{
		text-align: center;
	}
	.team__desc{
		font-size: 20px;
		max-width:90%;
		margin: 20px auto 0;
	}
	.team__btn{
		margin:50px auto 0;
	}
	.team__imageblock{
		flex: 1 1 auto;
		justify-content:space-between;
		gap:30px;
	}
	.team__imageblock-item{
		flex: 0 0 300px;
		//margin: 0 auto;
	}
	.team__image{
		width:250px;
		img{
			width:250px;
			height:250px;
			margin: 0 auto;
		}
		margin: 0 auto;
	}
	.team__name{
		max-width:250px;
		margin: 15px auto 0;
		font-size: 20px;
	}
}
@media (max-width:651px){
	.team__imageblock-item{
		flex: 0 0 250px;
		//margin: 0 auto;
	}
}
@media (max-width:551px){
	.team__imageblock-item{
		flex: 0 0 200px;
		//margin: 0 auto;
	}
	.team__image{
		width:200px;
		img{
			width:200px;
			height:200px;
		}
	}
	.team__name{
		max-width:200px;
		font-size: 17px;
	}
}
@media (max-width:451px){
	.team__imageblock{
		.team__imageblock-item:nth-child(1){
			.team__image{
				img{
					border-radius: 80px;
				}
			}
		}
		.team__imageblock-item:nth-child(2){
			.team__image{
				img{
					border-radius: 80px;
				}
			}
		}
		.team__imageblock-item:nth-child(3){
			.team__image{
				img{
					border-radius: 80px;
				}
			}
		}
		.team__imageblock-item:nth-child(4){

			.team__image{
				img{
					border-radius: 80px;
				}

			}
		}
		.team__imageblock-item:nth-child(5){

			.team__image{
				img{
					border-radius: 80px;
				}

			}
		}
		.team__imageblock-item:nth-child(6){

			.team__image{
				img{
					border-radius: 80px;
				}

			}
		}
	}
	.team__imageblock-item{
		flex: 0 0 100%;
	}
	.team__image{
		width:100%;
		img{
			width:100%;
			height:auto;
			aspect-ratio:1/1;
			border-radius: 50%;
		}
	}
	.team__name{
		max-width:100%;
		font-size: 17px;
	}
}
//course//
.course {
	background: $green;
	color:$white;	
	padding:120px 0;
}
.course__row {
	display:flex;
	//justify-content:space-between;
	align-items:flex-end;
	gap:100px;
}
.course__imageblock {
	flex: 0 0 500px;
	position: relative;
	height:362px;
	width:500px;
	img{
		position: absolute;
		bottom:0;
		left:0;
		width:470px;
		height:332px;
		object-fit:cover;
		border-radius: 0px 120px 0px 0px;
	}
	&:before{
		content:'';
		position: absolute;
		top:0;
		right:0;
		display: block;
		width:470px;
		height:332px;
		border:1px dashed $white;
		border-radius: 0px 120px 0px 0px;
	}
}
#coursePageCourse{
	img{
		border-radius: 120px 0px 0px 0px; 
		bottom:0; 
		left:auto;
		right:0; 
	}
	&:before{
		top:0; 
		left:0; 
		right:auto;
		border-radius: 120px 0px 0px 0px;
	}
}
.course__textblock {
	flex:0 0 500px;
}
.course__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
}
.course__desc {
	margin:20px 0 0 0;
	font-size: 16px;
	line-height: 150%;
}
.course__btn {
	margin: 50px 0 0 0;
	background: $orange;
}

//course media//
@media (max-width:1101px){
	.course__imageblock{
		display: none;
	}
	.course__textblock{
		flex: 0 0 100%;
		margin: 0 auto;
	}
	.course__title{
		text-align: center;
	}
	.course__btn{
		margin: 50px auto 0;
	}
	.course__desc{
		text-align: center;
		br{
			display:none;
		}
	}
}
@media (max-width:381px) {
	.course__title{
		font-size: 46px;
	}
	.course__desc{
		font-size: 20px;
	}
	.course{
		padding:75px 0;
	}
}
@media(max-width:306px){
	.course__title{
		font-size: 40px;
	}
}
//course-choice//
.course-choice {
	padding:120px 0;
	background: $white;
}
.course-choice__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 100%;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}
.course-choice__item-title{ //coursePage
	position: relative;
	left:20px;
	top:0;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color:$black;
	&:before{
		content:'';
		position: absolute;
		top:0;
		left:-20px;
		width:16px;
		height:16px;
		display: block;
	}
}
.course-choice__row {
	margin:60px 0 0 0;
	display: flex;
	justify-content:space-between;
	gap:30px;
	.course-choice__item:nth-child(1){
		.course-choice__item-title{
			&:before{
				background: url('../img/course page/course/01.svg') no-repeat;
				background-size: 16px 16px;
			}
		}
	}
	.course-choice__item:nth-child(2){
		.course-choice__item-title{
			&:before{
				background: url('../img/course page/course/02.svg') no-repeat;
				background-size: 16px 16px;
			}
		}
	}
	.course-choice__item:nth-child(3){
		.course-choice__item-title{
			&:before{
				background: url('../img/course page/course/03.svg') no-repeat;
				background-size: 16px 16px;
			}
		}
	}
	.course-choice__item:nth-child(4){
		.course-choice__item-title{
			&:before{
				background: url('../img/course page/course/04.svg') no-repeat;
				background-size: 16px 16px;
			}
		}
	}
}
.course-choice__item {
	max-width:270px;
	padding:20px;
	box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
	border-radius: 10px;
}
.course-choice__image {}
.course-choice__name {
	margin:20px 0 0 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: $black;
}
.course-choice__btn {
	margin: 60px auto 0;
	background: $orange;
}
@media (max-width:1171px){
	.course-choice__row {
		flex-wrap:wrap;
	}
	.course-choice__item {
		max-width:100%;
		flex: 0 0 45%;
	}
	.course-choice__image {
		img{
			//display: block;
			width:100%;
		}
	}
	.course-choice__name {
		font-size: 20px;
		text-align: center;
	}
	.course-choice__item-title{
		max-width:200px;
		margin: 0 auto;
	}
}
@media (max-width:701px){
	.course-choice__item {
		flex: 0 0 100%;
	}
	.course-choice__name {
		font-size: 26px;
	}
}
@media (max-width:406px){
	.course-choice__name {
		font-size: 18px;
	}
	.course-choice__title{
		font-size: 40px;
	}
	.course-choice{
		padding:70px 0;
	}
}
//join//
.join {
	position: relative;
	color:$black;
	height:578px;
}
.join__image {
	img{
		position: absolute;
		top:0;
		left:0;
		z-index:-1;
		height:578px;
		width:100%;
		object-fit:cover;
	}
}
.join__textblock {
	max-width:510px;
	position: absolute;
	top:120px;
	left:50%;
}
.join__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
}
.join__desc {
	margin:20px 0 0 0;
	font-size: 16px;
	line-height: 150%;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.join__btn {
	margin: 50px 0 0 0;
	background: $orange;
	color:$white	
}
.btn {}
//join media//
@media (max-width:1100px){
	.join__textblock {
		position: relative;
		left:0;
		margin: 0 auto;
		text-align: center;
	}
	.join__image{
		filter:blur(8px);
	}
	.join__btn{
		margin: 50px auto 0;
	}
}
@media (max-width:529px){
	.join__textblock{
		max-width:100%;
	}
	.join__title{
		font-size: 40px;
	}
	.join__image{
		img{
			height:500px;
		}
	}
	.join{
		height:500px;
	}
}
@media (max-width:371px){
	.join__title{
		font-size: 28px;
	}
	.join__desc{
		font-size: 14px;
	}
}

.footer{
	border-top:1px solid $black;
	flex: 0 0 auto;
	.container{

		padding:80px 10px 50px;
	}
}
.container {}
.footer__row {
	display: flex;
	justify-content:space-between;
	.footer__item:first-child{
		max-width:270px
	}
	.footer__item:last-child{
		max-width:182px
	}
}
.footer__item {
	max-width:150px;
	li:first-child{
		margin:0;
	}
	li:nth-child(2){
		margin:31px 0 0 0;
	}
	li{
		margin:20px 0 0 0;
	}
	span{
		display: block;
		margin:30px 0 0 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		color:$black;
	}
}
.footer__logoblock {
	display: flex;
	gap:12px;
	align-items:center;
	width:180px;
}
.footer__logo {
	img{
		width:28px;
		height:22px;
		object-fit:cover;
	}
}
.footer__title-logo {
	font-size: 30px;
	font-weight: 500;
	color:$black;
}

.footer__desc {
	margin:27px 0 0 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
}
.footer__media { 
	margin:27px 0 0 0;
	display: flex;
	gap:25px;
	li{
		margin:0;
	}
	li:nth-child(2){
		margin:0;
	}
}
.footer__link {
	img{
		transition:all 0.5s ease 0s;
		filter:invert(1);
		opacity:0.3;
		&:hover{
			opacity:1;
		}
	}

}
.footer__item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color:$black;
}
.footer__item-link {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color:$black;
	display: block;
	&:after{
		transition:all 0.3s ease 0s;
		content:'';
		display: block;
		height:1px;
		width:0%;
		background: $black;
		position: absolute;
		bottom:0;
		left:0;
	}
	&:hover{
		&:after{
			width:60%;
		}
	}
}
.footer__email {
	text-decoration: underline;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
}
//footer media//
@media (max-width:885px){
	.footer__row{
		flex-wrap:wrap;
		.footer__item:nth-child(1){
			flex:0 0 50%;
			max-width:100%;
		}
		.footer__item:nth-child(5){
			flex:0 0 40%;
			max-width:100%;
			order:2;
		}
		.footer__item:nth-child(2){
			flex:0 0 auto;
			max-width:100%;
			flex:0 0 20%;
			text-align: center;
			margin:20px 0 0 0;
			order:3;
		}
		.footer__item:nth-child(3){
			flex:0 0 auto;
			max-width:100%;
			flex:0 0 20%;
			text-align: center;
			margin:20px 0 0 0;
			order:4;
		}
		.footer__item:nth-child(4){
			flex:0 0 auto;
			max-width:100%;
			flex:0 0 20%;
			text-align: center;
			margin:20px 0 0 0;
			order:5;
		}
	}
}
@media (max-width:400px){
	.footer{
		.container{
			padding:80px 0 50px;
		}

	}
	.footer__row{
		.footer__item:nth-child(1){
			flex:0 0 100%;
			background: $white;
			padding:0 10px;
		}
		.footer__item:nth-child(5){
			flex:0 0 100%;
			order:5;
			text-align: center;
			margin:20px 0 0 0;
			span{
				margin:10px 0 0 0;
			}
			background: $white;
			padding:0 10px;
		}
		.footer__item:nth-child(2){
			flex:0 0 100vw;
			order:2;
			background: $black;
			color:$white;
			padding:10px 0;
			.footer__item-title{
				color:$white;
			}
			a{
				color:$white;
			}
			.footer__item-link {
				&:after{
					background: $white;
				}
				&:hover{
					&:after{
						width:100%;
					}
				}
			}
		}
		.footer__item:nth-child(3){
			flex:0 0 100%;
			order:3;
			background: $white;
			padding:0 10px;
		}
		.footer__item:nth-child(4){
			flex:0 0 100vw;
			order:4;
			background: $black;
			color:$white;
			padding:10px 0;
			.footer__item-title{
				color:$white;
			}
			a{
				color:$white;
			}
			.footer__item-link {
				&:after{
					background: $white;
				}
				&:hover{
					&:after{
						width:100%;
					}
				}
			}
		}
	}
}
//footer-downpage//
.footer-downpage {
	border-top:1px solid $black;
	padding:30px 0px;
	.container{
		padding:0 10px;
	}
}
.footer-downpage__row {
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.footer-downpage__item {
	flex:0 0 33.333%;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color:$black
}
#coursePage{
	background: $white;
	.header__logoblock{
		display: flex;
	}
	.header__title-logo{
		color:$black;
	}
	.header__link{
		color:$black;
		&.active{
			color:$orange;
		}
	}
}

.navigation {
	padding:20px 0;
	
}
.navigation__row{
	display: flex;
	gap:30px;
	li{
		position: relative;
		display: block;
		&:after{
			content:'';
			position: absolute;
			top:0;
			right:-20px;
			display: block;
			width:16px;
			height:16px;
			transform:rotate(45deg);
			border-top:5px solid $orange;
			border-right:5px solid $orange;
			border-radius: 2px;
		}
	}
	li:last-child{
		&:after{
			display: none;
		}
		.navigation__item{
			opacity:0.5;
			cursor:default;
		}
	}
}
.navigation__item {
	font-size: 14px;
	line-height: 100%;
	color:$black;
}

//info//
.info {
	padding:40px 0 0 0;
}
.info__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color:$black;
}
.info__image {
	margin:40px 0 0 0;
	img{
		display: block;
		width:100%;
		object-fit:cover;
	}
}
.info__textblock {
	margin:40px 0 0 0;
}
.info__textlock-title {
	font-weight: 500;
	font-size: 22px;
	line-height: 130%;
	color:$black;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.info__textlock-desc {
	margin:25px 0 0 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color:$black;
}
//info media 
@media (max-width:1170px){
	.info__image{
		img{
			height:300px;
		}
	}
}
@media (max-width:578px){
	.info__title{
		text-align: center;
		font-size: 30px;	
		max-width:300px;
		margin: 0 auto;
	}
}
@media (max-width:305px){
	.info__title{
		font-size: 26px;
	}
}

//question
.question {
	padding:120px 0;
	color:$black;
}
.question__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.question__list {
	margin:30px 0 0 0;
	height:100%;
}
.question__item {
	//transition:all 0.2s ease 0s;
	cursor:default;
	margin: 30px 0 0 0;
	box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
	border-radius: 10px;
	padding:30px;
	position: relative;
	height:89px;
	.question__item-desc{
		transition: all 0.1s ease 0s;
		opacity:0;
	}
	&.active{
		//min-height:100%;
		height:100%;
		.question__item-desc{
			margin:15px 0 0 0;
			opacity:1;
		}
		.question__item-close {
			&:before{
				width:0;
			}
		}
	}
}
.question__item-title {
	font-weight: 500;
	font-size: 22px;
	line-height: 130%;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.question__item-desc {
	margin:-20px 0 0 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	max-width:640px;
}
.question__item-close {
	cursor:pointer;
	position: absolute;
	top:28px;
	right:30px;
	width:33px;
	height:33px;
	border:1px dashed $green;
	border-radius: 50%;
	&:after{
		content:'';
		display: block;
		position: absolute;
		top:16px;
		left:0;
		right:0;
		margin: 0 auto;
		width:15px;
		height:1px;
		background: $green;
	}
	&:before{
		transition: all 0.5s ease 0s;
		content:'';
		display: block;
		position: absolute;
		top:16px;
		left:0;
		right:0;
		margin: 0 auto;
		width:15px;
		height:1px;
		background: $green;
		transform:rotate(90deg);
	}
}
//question media//
@media (max-width:792px){
	.question__item-title{
		max-width:330px;
	}
	.question__item{
		height:117.2px
	}
}
@media (max-width:500px) {
	.question__item{
		height:146px
	}
	.question__item-title{
		max-width:270px;
	}
	.question__title{
		text-align: center;
		max-width:300px;
		margin: 0 auto;
		font-size: 30px;
	}
}
@media (max-width:380px) {
	.question__item{
		height:210px
	}
	.question__item-title{
		padding:35px 0 0 0;
		max-width:100%;
	}

}
